@use 'reset';
@use 'common';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

// vars

$primary-color: #081158;
$primary-light-color: #fff;
$secondary-color: #fbb244;
$secondary-bg-color: transparentize($secondary-color, 0.8);

// Hero ---------

.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;

  &__text {
    margin-bottom: 2rem;
  }
  button {
    margin-bottom: 1.5rem;
  }
}
