@use 'reset';
@use 'vars' as v;
@use 'mixins' as m;
@use 'common';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

// Hero ---------

.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;

  &__text {
    margin-bottom: 2rem;
  }
  button {
    margin-bottom: 1.5rem;
  }

  .hero-list {
    list-style-type: none;
    padding-left: 0;

    &__item::before {
      content: '\f00c';
      font-family: 'fontawesome';
      padding-right: 0.5rem;
    }
  }
}

// Features ---------

.features {
  text-align: center;

  .features-card {
    @include m.myIcon;

    &__title {
      margin-bottom: 0.2em;
    }
  }
}

// Services

.services {
  text-align: center;

  .services-card {
    text-align: left;
    display: grid;
    grid-template-columns: 70px auto;
    column-gap: 1rem;

    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;

    &__icon {
      grid-row: span 2;
      place-self: center;
    }
    @include m.myIcon($leftPos: 0);
  }
}

// Media queries
@import 'media';
